/*
        SNAP EATS

        text color:                      #ffe300 
        text color yellow buttons:       #dc5634
        text color white buttons:        #cfcfcf
*/

.labelTitle {
    -fx-effect: dropshadow( gaussian , #ffb000 , 0,0,0,4 );
    -fx-font-weight: bold;
}

.bg {
    -fx-background-image: url("/progettoap/images/background.png");
    -fx-background-size: cover;
}

.box {
    -fx-arc-height: 40;
    -fx-arc-width: 40;
    -fx-effect: dropshadow( gaussian , #eeeeee , 0,0,0,6 );
}

.shadow {
    -fx-arc-height: 40;
    -fx-arc-width: 40;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 60, 0, 0, 0);
}

.menubutton {
    -fx-background-color: #ffffff;
}


.table-view {
    -fx-background-color: #ffffff;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, yellowgreen, green);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: green;
}
.table-row-cell: odd{
    -fx-background-color: #effe81aa;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #a7ff24aa;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-row-cell: highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}

.table-view .column-header .label{
  -fx-text-fill: white;
}


.text-field {
    -fx-background-color: #fff;
}